---
layout: layouts/base.njk
title: Insurance | David Smith Family Dental
---

<div class="bg-gray-900 w-full mb-16">
    <div class="max-w-7xl mx-auto px-4 pt-24 pb-16">
        <div class="text-center">
            <h1 class="text-4xl font-bold text-white text-center mb-8">Insurance</h1>
            <p class="text-xl text-gray-300 max-w-3xl mx-auto">
                At David Smith Family Dental, we work with most major insurance providers to ensure you get the care you need. Our team will help you understand your benefits and maximize your coverage.
            </p>
        </div>
    </div>
</div>

<div class="max-w-7xl mx-auto px-4">

        {% include "components/insurance-logos.njk" %}
    </div>
</div>
