---
layout: layouts/base.njk
title: Our Staff | David Smith Family Dental
---

<div class="bg-gray-900 w-full mb-16">
    <div class="max-w-7xl mx-auto px-4 pt-24 pb-16">
        <div class="text-center">
            <h1 class="text-4xl font-bold text-white text-center mb-8">Our Staff</h1>
            <p class="text-xl text-gray-300 max-w-3xl mx-auto">
                Meet our dedicated team of dental professionals committed to providing you with exceptional care in a comfortable environment.
            </p>
        </div>
    </div>
</div>

<div class="max-w-7xl mx-auto px-4">

        <div class="rounded-lg overflow-hidden mb-8">
            <img src="/assets/images/team/dsf_team.jpg" alt="David Smith Family Dental Team" class="w-full">
        </div>
    </div>
</div>
