<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#007bff',
                    },
                    typography: {
                        DEFAULT: {
                            css: {
                                'h1, h2, h3, h4': {
                                    color: '#1a202c',
                                },
                                ul: {
                                    'list-style-type': 'disc',
                                },
                                li: {
                                    '&::marker': {
                                        color: '#007bff',
                                    },
                                },
                                a: {
                                    color: '#007bff',
                                    '&:hover': {
                                        color: '#0056b3',
                                    },
                                },
                            },
                        },
                    },
                },
            },
        }
    </script>
</head>
